---
---

@import "{{ site.theme }}";

body {
    background-color: #333;
    color: #eee;
  }
  
  a {
    color: #80d6ff;
  }
  
  a:hover {
    color: #b3fdff;
  }
  
  code {
    background-color: #444;
    color: #ddd;
  }
  